/*  font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #707070;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

/* ====TYPOGRAPHY==== */

h1,
h2,
h3 {
  font-weight: 400;
  color: #143774;
  font-family: "Lora", serif;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

strong {
  font-weight: 700;
}

a {
  color: #1792d2;
}

a:hover,
a:focus {
  color: #143774;
}
/* HEADER SUBTITLE */
.subtitle {
  font-size: 1.2rem;
  color: #1792d2;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  font-weight: 700;
}

.article-info,
.article-read-more {
  font-size: 1.4rem;
}

.article-read-more {
  color: #1792d2;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
}

.article-info {
  margin: 2em 0;
}
/* ===LAYOUT=== */

header {
  background-color: #f8f8f8;
  text-align: center;
  padding: 2em 0;
}

.container {
  max-width: 950px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 650px) {
  .container-flex {
    display: flex;
    justify-content: space-between;
  }

  .main {
    width: 75%;
  }

  .sidebar {
    width: 20%;
  }
}

/* ARTICLE */

.article-main {
  padding-bottom: 1em;
  margin-bottom: 1.6em;
  border-bottom: 1px solid #707070;
}

/* ===NAVIGATION=== */

nav ul {
  list-style-type: none;
}

@media (min-width: 650px) {
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

nav li {
  margin: 1.5em;
}

nav a {
  font-size: 1.6rem;
  color: #717171;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.2em 0;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #717171;
}

.current-page:hover {
  color: #717171;
}
